<section class="container-fluid">
    <div class="card" style="margin-top: 20px;">
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <div class="card-box">
              <h2 class="header-title">Tìm kiếm</h2>
              <div class="row">
                <div class="col-12 p-0">
                  <div class="p-2">
                    <div class="row">
                      <label class="col-sm-4 col-md-6 col-lg-5 col-xl-1 col-form-label">Tài khoản</label>
                      <div class="col-sm-7 col-md-3 col-lg-7 col-xl-5 ">
                        <input type="text" class="form-control">
                      </div>
                      <label class="col-sm-4 col-md-6 col-lg-5 col-xl-1 col-form-label">Đơn vị</label>
                      <div class="col-sm-7 col-md-6 col-lg-7 col-xl-5 mt-lg-1 mt-md-1 mt-sm-1 mt-xl-0">
                        <select name="" id="" class="form-control">
                          <option value="">Chọn đơn vị</option>
                          <option value="">Nothing</option>
                        </select>
                      </div>
                    </div>
                    <div class="row" style="margin-top: 20px;">
                      <label class="col-sm-4 col-md-6 col-lg-5 col-xl-1 col-form-label">Chức năng</label>
                      <div class="col-sm-7 col-md-6 col-lg-7 col-xl-5 ">
                        <select name="" id="" class="form-control custom-select">
                          <option value="">Tất cả</option>
                          <option value="">Nothing</option>
                        </select>
                      </div>
                      <label class="col-sm-4 col-md-6 col-lg-5 col-xl-1 col-form-label">Từ ngày</label>
                      <div class="col-2">
                        <div class="input-group date" id="datepicker">
                          <input type="date" class="form-control" id="date" />
                        </div>
                      </div>
                      <label class="col-sm-4 col-md-6 col-lg-5 col-xl-1 col-form-label">Đến ngày</label>
                      <div class="col-2">
                        <div class="input-group date" id="datepicker">
                          <input type="date" class="form-control" id="datepicker" placeholder="YYYY-mm-dd" />
  
                        </div>
                      </div>
  
                    </div>
                  </div>
                  <div class="row pt-3">
                    <div class="col-4 text-left">
                      <div ngbDropdown class="d-inline-block" style="margin-left: 10px;">
                        <button class="btn bg-success mt-3 text-white" ngbDropdownToggle>
                          <i class="fas fa-download mr-1"></i>Tra cứu</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-box">
              <h2 class="header-title">KẾT QUẢ TÌM KIẾM</h2>
              <div class="row">
                <div class="col-12 text-right">
                  <button class="btn mt-3 bg-primary text-white" ngbDropdownToggle   (click)="openModal(null, 'CREATE')">
                   Thêm</button>
                </div>
                <div class="col-12 table-responsive mt-3">
                  <table class="table table-bordered table-sm table-hover m-w-tabble">
                    <thead class="bg-primary text-white">
                      <tr class="m-header-table">
                        <th class="text-center align-middle">Key</th>
                        <th class="text-center align-middle">Sản phẩm</th>
                        <th class="text-center align-middle">Thời gian bắt đầu</th>
                        <th class="text-center align-middle">Thời gian kết thúc</th>
                        <th class="text-center align-middle">Tên khách hàng</th>
                        <th class="text-center align-middle">Nhân viên hỗ trợ</th>
                        <th class="text-center align-middle">Trạng thái</th>
                        <th class="text-center align-middle">Thao tác</th>
                        
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of ticket">
                        <td class="align-middle font-weight-medium text-primary">{{item.id}}</td>
                        <td class="align-middle font-weight-medium text-primary">{{item.product.name}}</td>
                        <td class="align-middle word-break m-text-overflow-120">{{item.startTime}}</td>
                        <td class="align-middle word-break m-text-overflow-120">{{item.endTime}}</td>
                        <td class="align-middle word-break m-text-overflow-120">{{item.customers.fullName}}</td>
                        <td class="align-middle word-break m-text-overflow-120">{{item.userTicket.username}}</td>
                        <td class="align-middle word-break m-text-overflow-120">{{item.status}}</td>
                        <td class="align-middle word-break m-text-overflow-120"> <button (click)="openModal(item, 'EDIT')" mat-fab class="ml10">
                          <mat-icon>edit</mat-icon>                     
                        </button>
                        <button mat-fab class="ml10" (click)="delete(item)">
                          <mat-icon>delete</mat-icon>                     
                        </button>
                      </td>
                       
                      </tr>                   
                    </tbody>
                  </table>
                </div>
              </div>          
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>