<mat-card style="min-height:799px;min-width: 50px;">
    <mat-action-list>
        <div mat-subheader>Menu</div>
        <button mat-list-item routerLink="./booking"><mat-icon mat-list-icon class="mr10">home</mat-icon>Đặt lịch</button>
        <button mat-list-item routerLink="./evaluate"><mat-icon mat-list-icon class="mr10" >quiz</mat-icon>Đánh giá</button>
        <!-- <button [routerLink]="'/user-dashboard/'+c.cId" mat-list-item *ngFor="let c of categories"><mat-icon mat-list-icon class="mr10">quiz</mat-icon>{{c.title}}</button> -->
    </mat-action-list>
</mat-card>


